.html
{
	background: #FFFFFF url("../images/2fons.ru-36800.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 1076px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF url("../images/2fons.ru-36800.jpg") no-repeat left top;
}

#page_position_content
{
	margin-bottom: 46px;
}

#u84
{
	z-index: 2;
	width: 913px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	padding: 5px 55px 33px;
	background: #FFFFFF url("../images/technology_circuits_circuit_board_1024x768_wallpaper_wallpaper%20hd_1920x1440_www.paperhi.com.jpg") no-repeat center bottom;
}

#u459-4
{
	z-index: 91;
	width: 312px;
	color: #FFFFFF;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-left: 280px;
	position: relative;
}

#u91-5
{
	z-index: 3;
	width: 625px;
	min-height: 38px;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	margin-left: 144px;
	margin-top: 35px;
	position: relative;
}

#u91-2
{
	font-weight: bold;
}

#pu202-4
{
	width: 0.01px;
	left: -1px;
	margin-top: 34px;
	position: relative;
}

#u202-4
{
	z-index: 40;
	width: 195px;
	min-height: 64px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #0000FF;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	color: #FFFFFF;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u94-4
{
	z-index: 11;
	width: 195px;
	min-height: 64px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #0000FF;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	color: #FFFFFF;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 242px;
}

#u94-4:hover
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 64px;
	width: 195px;
	margin: -1px -10000px -2px 0px;
}

#u459-2,#u202-2,#u94-2
{
	padding-top: 22px;
}

#u132-4
{
	z-index: 36;
	width: 195px;
	min-height: 64px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #0000FF;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	color: #FFFFFF;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 470px;
}

#u132-4:hover
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 64px;
	width: 195px;
	margin: -1px -10000px -2px 0px;
}

#u132-2
{
	padding-top: 11px;
}

#u698-4
{
	z-index: 95;
	width: 195px;
	min-height: 64px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #0000FF;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	color: #FFFFFF;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 714px;
}

#u698-4:hover
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 64px;
	width: 195px;
	margin: -1px -10000px -2px 0px;
}

#u94-4:active,#u132-4:active,#u698-4:active
{
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 64px;
	width: 195px;
	margin: -1px -10000px -2px 0px;
}

#u698-2
{
	padding-top: 12px;
}

#slideshowu211
{
	z-index: 44;
	width: 0.01px;
	height: 755px;
	margin-top: 17px;
	position: relative;
}

#u212
{
	position: absolute;
	width: 1024px;
	height: 693px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 62px;
}

#u212popup
{
	z-index: 45;
}

#u217
{
	z-index: 46;
	width: 1024px;
	height: 693px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u217_img
{
	padding: 39px 112px;
}

#u348
{
	z-index: 48;
	width: 1024px;
	height: 693px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u357
{
	z-index: 50;
	width: 1024px;
	height: 693px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u357_clip
{
	overflow: hidden;
	width: 1024px;
	height: 693px;
}

#u357_img
{
	margin: -178px 161px -179px 162px;
}

#u366
{
	z-index: 52;
	width: 1024px;
	height: 693px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u375
{
	z-index: 54;
	width: 1024px;
	height: 693px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u375_img
{
	padding: 109px 262px;
}

#u384
{
	z-index: 56;
	width: 1024px;
	height: 693px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u393
{
	z-index: 58;
	width: 1024px;
	height: 693px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u393_img
{
	padding: 83px 135px 83px 136px;
}

#u402
{
	z-index: 60;
	width: 1024px;
	height: 693px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u411
{
	z-index: 62;
	width: 1024px;
	height: 693px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u420
{
	z-index: 64;
	width: 1024px;
	height: 693px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u402_img,#u420_img
{
	padding-top: 27px;
	padding-bottom: 27px;
}

#u429
{
	z-index: 66;
	width: 1024px;
	height: 693px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u348_img,#u366_img,#u384_img,#u411_img,#u429_img
{
	padding-top: 59px;
	padding-bottom: 59px;
}

#u221
{
	position: absolute;
	width: 883px;
	padding-bottom: 114px;
	left: 92px;
}

#u221popup
{
	z-index: 68;
}

#u226
{
	z-index: 69;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 61px;
}

#u226:hover
{
	margin: 4px -10000px 0px 0px;
}

#u226_img
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u351
{
	z-index: 71;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 131px;
}

#u351:hover
{
	margin: 4px -10000px 0px 0px;
}

#u360
{
	z-index: 73;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 201px;
}

#u360:hover
{
	margin: 4px -10000px 0px 0px;
}

#u360_img
{
	margin-top: -22px;
	margin-bottom: -22px;
}

#u369
{
	z-index: 75;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 271px;
}

#u369:hover
{
	margin: 4px -10000px 0px 0px;
}

#u378
{
	z-index: 77;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 341px;
}

#u378:hover
{
	margin: 4px -10000px 0px 0px;
}

#u378_img
{
	margin-top: -6px;
	margin-bottom: -6px;
}

#u387
{
	z-index: 79;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 411px;
}

#u387:hover
{
	margin: 4px -10000px 0px 0px;
}

#u396
{
	z-index: 81;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 481px;
}

#u396:hover
{
	margin: 4px -10000px 0px 0px;
}

#u396_img
{
	margin-left: -2px;
	margin-right: -2px;
}

#u405
{
	z-index: 83;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 551px;
}

#u405:hover
{
	margin: 4px -10000px 0px 0px;
}

#u414
{
	z-index: 85;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 621px;
}

#u414:hover
{
	margin: 4px -10000px 0px 0px;
}

#u423
{
	z-index: 87;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 691px;
}

#u423:hover
{
	margin: 4px -10000px 0px 0px;
}

#u405_img,#u423_img
{
	margin-left: -6px;
	margin-right: -6px;
}

#u432
{
	z-index: 89;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 761px;
}

#u432:hover
{
	margin: 4px -10000px 0px 0px;
}

#u226.SSSlideLinkSelected,#u351.SSSlideLinkSelected,#u360.SSSlideLinkSelected,#u369.SSSlideLinkSelected,#u378.SSSlideLinkSelected,#u387.SSSlideLinkSelected,#u396.SSSlideLinkSelected,#u405.SSSlideLinkSelected,#u414.SSSlideLinkSelected,#u423.SSSlideLinkSelected,#u432.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 4px -10000px 0px 0px;
}

#u226_clip,#u351_clip,#u360_clip,#u369_clip,#u378_clip,#u387_clip,#u396_clip,#u405_clip,#u414_clip,#u423_clip,#u432_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u351_img,#u369_img,#u387_img,#u414_img,#u432_img
{
	margin-left: -10px;
	margin-right: -10px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu92-3
{
	width: 0.01px;
	margin-left: 471px;
	top: -707px;
	margin-bottom: -22px;
	position: relative;
}

#u92-3
{
	z-index: 8;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u100-3
{
	z-index: 27;
	width: 5px;
	position: relative;
	margin-right: -10000px;
}

#pu130-3
{
	width: 0.01px;
	margin-left: 134px;
	top: -685px;
	margin-bottom: -49px;
	position: relative;
}

#u130-3
{
	z-index: 30;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u96-3
{
	z-index: 15;
	width: 96px;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 216px;
}

#u98-3
{
	z-index: 21;
	width: 69px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 407px;
}

#u99-3
{
	z-index: 24;
	width: 79px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 545px;
}

#u97-3
{
	z-index: 18;
	width: 5px;
	margin-left: 881px;
	top: -641px;
	margin-bottom: -17px;
	position: relative;
}

#u131-3
{
	z-index: 33;
	width: 5px;
	margin-left: 129px;
	top: -632px;
	margin-bottom: -17px;
	position: relative;
}

body
{
	padding-top: 35px;
	padding-bottom: 348px;
}

#page .verticalspacer
{
	clear: both;
}

